Adafruit_Blinka==8.6.*
blobconverter==1.2.*
board==1.0
depthai==2.22.*
opencv-python==4.5.*; platform_machine != "aarch64"
pyserial==3.5.*
requests==2.31.*
rplidar==0.9.*
rplidar_roboticia==0.9.*
scikit_learn==1.3.*
simple_pid==2.0.*
smbus==1.1.post2; sys_platform == 'linux'
