docutils==0.20.1
pyserial
matplotlib
ipython
shapely
requests
ipympl
numpy
jupyterlab
voila
rplidar-roboticia
websockets
Sphinx
sphinx-rtd-theme
board
adafruit-circuitpython-lsm303dlh-mag
simple-pid
RPi.GPIO
smbus